/* *{
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    border: 1px solid black;
    border-radius: 20px;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    display: inline-block;
    color: white;
    padding: 10px 20px;
}

p {
    margin-top: 50px;
}

li:hover {
    color: red;
}

input {
    position: fixed;
    right: 50px;
    top: 10px;
    border: 2px solid grey;
    font-size: 15px;
    border-radius: 10px;
}


 */