.sam {
    background-color: brown;
}
.uday {
    background-color: rgb(56, 165, 42);
}
.kamal {
    background-color: rgb(255, 247, 0);
}

.samarth {
    font-size: 50px;
}

.rahul {
    background-color: rgb(30, 0, 255);

}

.toggle {
    background-color: cyan;
}
