*{
    padding: 0;
    margin: 0;

}

#child {
    height: 100vh;
    width: 100%;
    background-color: aqua;
    border: 5px solid black;
}


.col, .col-3, .col-6,.col-lg-6,.col-mid-3, .col-sm-2 {
    background-color: cyan;
    border: 2px solid black;
}