.div1{
    height: 300px;
    width: 400px;
    background-color: aqua;
    margin: 40px auto;
    border: 5px solid black;
    transform: rotateZ(45deg);
} 
.div2{
    height: 300px;
    width: 400px;
    background-color: aqua;
    margin: 40px auto;
    border: 5px solid black;
    transform: rotateX(45deg);
} 
.div3{
    height: 300px;
    width: 400px;
    background-color: aqua;
    margin: 40px auto;
    border: 5px solid black;
    transform: rotateY(180deg);
} 