.image {
    background-image: url('https://deepai.org/machine-learning-model/text2img');
    height: 70vh;
    width: 70vw;
    /* background-repeat: no-repeat; */
    /* background-size: 20% 30%; */

    /* cover both width and height */
    /* background-size: cover; */

    /* cover only width */
    background-size: contain;

    background-position: center;
           
    /* blur the image: values lies between 0 and 1. */
    opacity: 0.4;
     
    /* black and white image */
    filter: grayscale(10%);
}

.image:hover {
    filter: grayscale(90%);
    cursor: pointer;
}